In [5]:
import pandas as pd
dia_data = pd.read_csv(r"dia-small.csv")
#Display the first 10 rows
records = dia_data.head(10)
print("First 10 rows of the records:",records)

First 10 rows of the records:    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1
5            5      116             74              0        0  25.6
6            3       78             50             32       88  31.0
7           10      115              0              0        0  35.3
8            2      197             70             45      543  30.5
9            8      125             96              0        0   0.0

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1
5                     0.201   30        0
6                     0.248   26        1
7                     0.134   29        0
8                     0.158   53        1
9                     0.232   54        1

In [16]:
import pandas as pd 
import numpy as np
import pandas as pd 
import numpy as np
records.describe ()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,4.40000,127.300000,59.800000,19.900000,89.300000,27.710000,0.507800,35.900000,0.600000
std,3.50238,40.075068,25.654976,17.978073,169.937276,11.259016,0.654114,11.873874,0.516398
min,0.00000,78.000000,0.000000,0.000000,0.000000,0.000000,0.134000,21.000000,0.000000
25%,1.25000,95.500000,53.500000,0.000000,0.000000,25.850000,0.175500,29.250000,0.000000
50%,4.00000,120.500000,66.000000,26.000000,0.000000,29.300000,0.240000,31.500000,1.000000
75%,7.50000,145.250000,71.500000,34.250000,92.500000,32.950000,0.558000,45.750000,1.000000
max,10.00000,197.000000,96.000000,45.000000,543.000000,43.100000,2.288000,54.000000,1.000000

In [49]:
dia_data = pd.read_csv(r"data1.csv")
records = dia_data.head(20)
print(records)
dia_data.fillna("0",inplace=True)
records = dia_data.head(20)
print(records)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
17        45     90       112       NaN
18        60    103       123     323.0
19        45     97       125     243.0
    Duration  Pulse  Maxpulse Calories
0         60    110       130    409.1
1         60    117       145    479.0
2         60    103       135    340.0
3         45    109       175    282.4
4         45    117       148    406.0
5         60    102       127    300.0
6         60    110       136    374.0
7         45    104       134    253.3
8         30    109       133    195.1
9         60     98       124    269.0
10        60    103       147    329.3
11        60    100       120    250.7
12        60    106       128    345.3
13        60    104       132    379.3
14        60     98       123    275.0
15        60     98       120    215.2
16        60    100       120    300.0
17        45     90       112        0
18        60    103       123    323.0
19        45     97       125    243.0

In [45]:
import pandas as pd 
import numpy as np
dia_data = pd.read_csv(r"data1.csv")
print (dia_data.shape)
dia_data.dropna (inplace = True)
print (dia_data.shape)

(169, 4)
(164, 4)

In [46]:
import pandas as pd 
import numpy as np
dia_data = pd.read_csv(r"dia-small-only10.csv")
print("before use of drop na()",dia_data.shape)
dia_data.dropna(axis=1,how='all',inplace=True)
print("After use of drop na()",dia_data.shape)
dia_data.head(10)

before use of drop na() (10, 9)
After use of drop na() (10, 8)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,0.627,43,1
1,1,85,66,29,0,0.351,31,0
2,8,183,64,,0,0.672,32,1
3,1,89,66,23,94,0.167,21,0
4,0,137,40,35,168,2.288,33,1
5,5,116,74,0,0,0.201,30,0
6,3,78,50,32,88,0.248,26,1
7,10,115,0,0,0,0.134,29,0
8,2,197,70,45,543,0.158,53,1
9,8,125,96,0,0,0.232,56,0